name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]

  push:
    branches:
      - main
      - "releases/*"

jobs:
  backend-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "backend/uv.lock"
          # Install a specific version of uv.
          version: "0.9.7"

      - name: Set up Python
        run: uv python install 3.13

      - name: Sync dependencies
        run: uv sync --dev

      - name: Run formatter checks
        run: uv run ruff format --check

      - name: Run lint checks
        run: uv run ruff check

      - name: Run type checks
        run: uv run ty check

      - name: Run tests
        run: uv run pytest -v -s

  frontend-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run linting checks
        run: npm run lint
      - name: Run format fixes
        run: npx prettier --write .

      - name: Run frontend tests
        run: npm run test

      - name: Build frontend
        run: npm run build
